#footer{
	margin-top: 2%;
}

#footer .footer_container{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

#footer .footer_content{
	width: 100%;
	height: auto;
}

#footer .footer_info{
	width: 90%;
	margin: 2%;
}

.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: 'Fredoka One' 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Fredoka One', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-links .menu_color1:hover{
	color: #BB1181;
}

.footer-distributed .footer-links .menu_color2:hover{
	color: #F1E60D;
}

.footer-distributed .footer-links .menu_color3:hover{
	color: #9EC417;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}

.footer-distributed .footer-center .icon-location:hover{
	color: #F1E60D;
}

.footer-distributed .footer-center .icon-mobile:hover{
	color: #BB1181;
}

.footer-distributed .footer-center .icon-mail-alt:hover{
	color: #9EC417;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #e6e6e6;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons .icon{
	display: inline-flex;
}

.footer-distributed .footer-icons a{
	display: inline-grid;
	width: 38px;
	height: 38px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
}

.footer-distributed .footer-icons .icon-facebook-squared{
	background: #3b5998;
}

.footer-distributed .footer-icons .icon-instagram{
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

.footer-distributed .footer-icons .icon-whatsapp{
	background: #4dc247;
}

.footer-distributed #line{
	margin: 1% 0;
}

.footer-distributed .autores{
	width: 80%;
	margin-left: 10%;
	justify-content: center;
}

.footer-distributed .content_photos{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.footer-distributed .photo_autores{
	width: 19%;
	margin-left: 41%;
	display: flex;
}

.footer-distributed .info_autores{
	text-align: center;
	color: #fff;
	margin: 1% ;
}

.footer-distributed .info_autores a{
	text-decoration: none;
	color: #5383d3;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: 'Fredoka One' 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

	.footer-distributed .info_autores{
		margin-left: 0%;
		text-align: center;	
	}

	.footer-distributed .photo_autores{
		width: 30%;
		margin-left: 35%;
	}

}