#article_user .article_container .article_content{
	width: 100%;
}

#article_user .info_can{
	width: 90%;
	margin: 1% 35%;
}

#article_user .info_form{
	width: 90%;
	margin-top: 1%;
	background: #ccc;
	border-radius: 25px;
	border: 1px solid #999;
	margin-bottom: 2%;
}

#article_user .info_user{
	text-align: left;
	color: #000;
	font-size: 18px;
	margin-bottom: 1%;
}

#article_user .info_user p{
	margin-left: 3%;
	margin-top: 1%;
}

#article_user .info_user span{
	margin-left: 1%;
}

@media screen and (min-width: 1024px){
	#article_user .info_can{
		width: 50%;
	}

	#article_user .info_form{
	width: 55%;
	}
}